/**
 * @file env.h.example
 * 
 * This file is used as an example for creating an environment configuration for the firmware.
 * It defines a namespace `env` with constants that should be replaced with actual values in a 
 * real environment file (which should be named `env.h`).
 *
 * Using a .h file for storing sensitive information such as SSID, PASSWORD, and BASE_URL might 
 * not be the most secure method, but it is being used here for simplicity and to avoid 
 * hard-coding these values directly into the source code.
 *
 * In this example file, we provide placeholders:
 * - `SSID`: The SSID for the network. Replace with actual SSID.
 * - `PASSWORD`: The network password. Replace with the actual password.
 * - `BASE_URL`: The base URL for the API. Replace with the actual API base URL.
 *
 * Once these placeholders are replaced with real values in `env.h`, this data can be used 
 * throughout the program.
 */

#ifndef ENV_H
#define ENV_H

#define ADAPTER_LORA 1
#define ADAPTER_BLE 1
#define ADAPTER_MOCK 1

namespace env
{
    const char *SSID = "SSID";
    const char *PASSWORD = "PASSWORD";
    const char *BASE_URL = "https://tfl.poc.com";
}

#endif /* ENV_H */