/**
 * @file env.h.example
 * 
 * This file is used as an example for creating an environment configuration for the Node firmware.
 * It defines a namespace `env` with constants that should be replaced with actual values in a 
 * real environment file (which should be named `env.h`).
 *
 * Using a .h file for storing sensitive information such as SSID, PASSWORD, and BASE_URL might 
 * not be the most secure method, but it is being used here for simplicity and to avoid 
 * hard-coding these values directly into the source code.
 *
 * In this example file, we provide placeholders:
 * - `DEVICE_SERIAL_NUMBER`: A placeholder for the actual device serial number.
 * - `DEVICE_PUBLIC_KEY`: A placeholder for the actual device public key.
 * - `DEVICE_PRIVATE_KEY`: A placeholder for the actual device private key.
 * 
 * Once these placeholders are replaced with real values in `env.h`, this data can be used 
 * throughout the program.
 */

#ifndef ENV_H
#define ENV_H

namespace env
{
    const int DEVICE_SERIAL_NUMBER = 007;
    const char *DEVICE_PUBLIC_KEY = "PUBLIC_KEY";
    const char *DEVICE_PRIVATE_KEY = "PRIVATE KEY";
}

#endif/* ENV_H */